.cat-display{
  padding-top: 10rem;
  width: 100%;
  padding-bottom: 45rem;
  background-image: url("../../assets/bgfooter.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.btn-active{
  background-color: #000e1c;
  color: white;
}

.tsparticles-canvas-el {
  z-index: 1;
}


@media screen and (max-width: 1200px) {
  .cat-display{
      padding-top: 6rem;
      width: 100%;
      padding-bottom: 30rem;
      
  }
}

@media screen and (max-width: 768px) {
  .cat-display{
      padding-top: 2rem;
      width: 100%;
      padding-bottom: 15rem;
      
  }
}

@media screen and (max-width: 600px) {
  .cat-display{
      padding-top: 1rem;
      width: 100%;
      padding-bottom: 8rem;
      
  }
}


// Desktop Animatins Only
@media screen and (min-width: 600px){
  .cat-display{
      & div:not(.design, .minecraft, .discord, .website){
          &:hover{
              transform: scale(1.05);
          }
      }
  }
}

.cat-display{
  & div:not(.design, .minecraft, .discord, .website){
      transition: all .5s cubic-bezier(0.4, 0, 0.2, 1);
  }
}


.discord {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 10rem 12rem;
	gap: 4rem;

	z-index: 1000;

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		background-color: #00070e;
		padding: 3rem;
		border-radius: 2rem;
		gap: 1rem;
		color: #000e1c;

		&__image {
			width: 100%;
			border-radius: 1rem;
			height: 75%;
			object-fit: cover;
		}

		&__heading {
			font-weight: 600;
			font-size: 3.2rem;
      color: white;
		}

		&__desc {
      color:#fffde3;
      font-size: 2.0rem;
		}
	}
}

@media screen and (max-width: 1100px) {
	.discord {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		padding: 6rem 6rem;
		gap: 4rem;

		z-index: 1000;

		&__item {
			&__heading {
				font-weight: 600;
				font-size: 3rem;
			}

			&__mini {
				width: 15%;
				border-radius: 0.4rem;
			}
		}
	}
}

@media screen and (max-width: 950px) {
	.discord {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		padding: 5rem 5rem;
		gap: 4rem;

		z-index: 1000;

		&__item {
			&__heading {
				font-weight: 600;
				font-size: 3rem;
			}

			&__mini {
				width: 15%;
				border-radius: 0.4rem;
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.discord {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		padding: 8rem 5rem 10rem;
		gap: 4rem;

		z-index: 1000;

		&__item {
			&__heading {
				font-weight: 600;
				font-size: 3rem;
			}

			&__mini {
				width: 15%;
				border-radius: 0.4rem;
			}
		}
	}
}