.left {
  justify-content: left;

  h2, p, .description {
    text-align:left;
  }
}

.right {
  justify-content: right;

  h2, p, .description {
    text-align:right;
  }
}

.commissions {
  padding-top: 1rem;
  padding-bottom: 20rem;

  //Text about sending email
  & .inquiry {
    width:100%;
    text-align:center;
    margin-bottom:30px;

    & h2 {
      font-size: 3.6rem;
      color: #F39540;
      margin: 1.5rem 0;
    }

    & p {
      margin:10px;
      font-size: 2.8rem;
    }

    & img {
      margin-top:15px;
      height:15px;
    }
  }

  & .container {
      display: grid;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      row-gap: 2rem;
      
      & .item {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: 5rem;
        padding: 2rem;
        display: grid;
        align-items: center;
        width: 100%;

        & .illustration {
            flex-basis: 60%;
            display: flex;
            justify-content: center;
            align-items: center;

            & img {
                min-width:200px;
                width: 100%;
                border-radius:2em;
            }
        }

        & .description {
            flex-basis: 70%;

            & h2 {
                font-size: 4rem;
                color: #F39540;
                font-weight: 600;
                margin: 1.5rem 0;
            }

            & p {
                font-size: 2.6rem;
                font-weight: 300;
                color: rgb(255, 255, 255);
                //line-height: 34px;
                font-style: normal;
                margin:15px 0px;
            }
        }
    }
  }
}

@media screen and (max-width: 700px) {
  .commissions {
    & .container {
      & .item {
        grid-template-columns: repeat(1, minmax(0, 1fr));

        .description {
          & h2 {
            font-size: 2.8rem;
          }
          & p {
            font-size: 2.2rem;
          }
        }
      }
    }
  }
}
