.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;

  & img {
    width:100%;
    max-width: 600px;
    border-radius:1.2em;
  }
}

.document {
    width: 80%;
    font-weight: 300;
    padding-bottom:100px;

    & .bold-description{
      font-weight: 500;
      font-size: 3rem;
      margin-bottom: 2rem;
    }

    & .heading-primary {
			font-size: 4rem;
			color: #F39540;
      margin-top:50px;
		}

    .bold{
      font-weight: 400;
      font-size: 3.5;
    }
  
    & p {
      margin:20px 0;
    }

    & ul {
      margin:15px 20px 20px 40px;
    }
    & li {
      margin-top:10px;
    }

    & .pattern {
      background: rgba(255, 255, 255, 0.16);
      transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
      border-radius: 1.2rem;
      padding: 4rem;
      font-size: 2.4rem;
      font-family: monospace;
      line-height: 1.5;
      margin-top:15px;

      & strong {
        margin:0 15px;
      }
    }
}


@media screen and (max-width: 700px) {
  .document {
    padding-bottom:20px;
  }
}