.market {
  padding-top: 1rem;
  padding-bottom: 20rem;

    //Text about sending email
    & .inquiry {
      width:100%;
      text-align:center;
      margin-bottom:30px;
  
      & img {
        margin-top:15px;
        height:15px;
      }
    }
  
}

.marketplace {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 2rem 12rem;
	gap: 4rem;

	z-index: 1000;

	&__item {
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
		display: flex;
		flex-direction: column;
		align-items:center;
		justify-content: space-between;
		background-color: rgba(255, 255, 255, 0.16);
		padding: 3rem;
		border-radius: 2rem;
		gap: 1rem;

		&__image {
			width: 100%;
			border-radius: 1rem;
			object-fit: cover;
		}

		&__heading {
      text-align: center;
      width:100%;
      font-weight: 600;
      font-size: 3.4rem;
      color: #F39540;
		}

		&__desc {
      color:#fffde3;
      font-size: 2.0rem;
		}

    &__pricelabel {
      display: flex;
      position:absolute;
      z-index: 1000;
      background-image: linear-gradient(to top, rgba(255,255,255,0.6), rgba(255,255,255,1));
      padding:8px 15px;
      border-radius:0 0 50% 50%;

      &__price {
        color:orange;
        font-size: 3.0rem;
        font-weight: 800;
        transform: rotate(10deg);
      }
    }
	}
}

@media screen and (max-width: 1100px) {
	.marketplace {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		padding: 6rem 6rem;
		gap: 4rem;

		z-index: 1000;

		&__item {
			&__heading {
				font-weight: 600;
				font-size: 3rem;
			}

			&__mini {
				width: 15%;
				border-radius: 0.4rem;
			}
		}
	}
}

@media screen and (max-width: 950px) {
	.marketplace {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		padding: 5rem 5rem;
		gap: 4rem;

		z-index: 1000;

		&__item {
			&__heading {
				font-weight: 600;
				font-size: 3rem;
			}

			&__mini {
				width: 15%;
				border-radius: 0.4rem;
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.marketplace {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		padding: 8rem 5rem 10rem;
		gap: 4rem;

		z-index: 1000;

		&__item {
			&__heading {
				font-weight: 600;
				font-size: 3rem;
			}

			&__mini {
				width: 15%;
				border-radius: 0.4rem;
			}

      &__pricelabel {
        padding:4px 8px;

        &__price {
          transform: none;
          font-size:2.5rem;
        }
      }
		}
	}

  .market {
    padding-bottom:50px;

    & .inquiry {
      margin-bottom:0px;
    }
  }
}