// Services Section

.services {
  padding-top: 5rem;
  padding-bottom: 20rem;

  &__heading {
      font-size: 4.6rem;
      font-weight: 600;
      text-align: center;
      color: #F39540;
      margin-bottom: 14rem;
  }

  &__container {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-template-rows: repeat(2, minmax(0, 1fr));
      column-gap: 11rem;
      row-gap: 9rem;

      &__item {
          background: rgba(255, 255, 255, 0.16);
          transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);

          backdrop-filter: blur(0.55rem);
          border-radius: 1.2rem;
          padding: 4rem;
          display: flex;
          align-items: center;
          gap: 3rem;
          width: 100%;

          &__illustration {
              flex-basis: 40%;
              display: flex;
              justify-content: center;
              align-items: center;

              &__image {
                  width: 100%;
                  border-radius:50%;
              }
          }

          &__description {
              flex-basis: 70%;

              &__heading {
                  font-size: 3.2rem;
                  color: #F39540;
                  font-weight: 600;
              }

              &__details {
                  font-size: 2.2rem;
                  font-weight: 300;
                  color: rgb(255, 255, 255);
                  margin-top: 1.5rem;
                  line-height: 26px;
                  font-style: normal;
              }
          }
      }
  }
}